<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LogFileDirectory" value="D:\archivosLog\" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=Pc-Alonso\MSSQLSERVER2014; Initial Catalog=dbPrueba;User ID=sa;Password=Pass2015" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>